{% extends 'base.html' %}
{% load static  %}

{% block page_title %}
<title>{{page_title}}</title>
{% endblock page_title %}


{% block slide_home %}
<section class="site-section pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel owl-theme home-slider">
            {% for obj in articles %}  
            <div>
                {% if obj.thumbnail %}
                <a href="{% url 'article:detail' slugInput=obj.slug %}" class="a-block d-flex align-items-center height-lg" style="background-image: url('{{obj.thumbnail.url}}');">
                {% else %}
                <a href="{% url 'article:detail' slugInput=obj.slug %}" class="a-block d-flex align-items-center height-lg" style="background-image: url('{% static 'blog/images/no-image.jpeg' %}'); "></a>
                  {% endif %}
                  <div class="text half-to-full">
                    {% for cat in obj.categories.all %}
                    <span class="category mb-5">{{cat.title}}</span>
                    {% endfor %}
                    <div class="post-meta">
                        <span class="author mr-2"><img src="{% static 'blog/images/default.png' %}" style="width:10px;height:10px" alt="Colorlib"> {{obj.author}}</span>&bullet;
                        <span class="mr-2">{{obj.timestamp|date}} </span> &bullet;
                        <span class="disqus-comment-count" data-disqus-url="http://localhost:8000/article/detail/{{obj.slug}}"></span>                      
                    </div>
                    <h3>{{obj.title}}</h3>
                    <p>{{obj.overview}}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock slide_home %}

{% block heading_latestpost %}
<div class="row">
  <div class="col-md-6">
    <h2 class="mb-4">{{heading_1}}</h2>
  </div>
</div>
{% endblock heading_latestpost %}

{% block contents %}
<div class="row blog-entries element-animate">
    <div class="col-md-12 col-lg-8 main-content">
      <div class="row mt-5">
          {% block latest_post %}
          {% for obj in articles_page %}
          <div class="col-md-6">
              <a href="{% url 'article:detail' slugInput=obj.slug %}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                {% if obj.thumbnail %}
                  <img src="{{obj.thumbnail.url}}" alt="Image placeholder" style="width:350px;height:225px;">
                {% else %}
                  <img src="{% static 'blog/images/no-image.jpeg' %}" alt="Image placeholder" style="width:350px;height:225px;">
                {% endif %}
                <div class="blog-content-body">
                  <div class="post-meta">
                    <span class="author mr-2"><img src="{% static 'blog/images/default.png' %}" alt="Colorlib"> {{obj.author}}</span>&bullet;
                    <span class="mr-2">{{obj.timestamp|date}} </span> &bullet;
                    <span class="disqus-comment-count" data-disqus-url="http://localhost:8000/article/detail/{{obj.slug}}"></span>
                  </div>
                  <h2>{{obj.title}}</h2>
                </div>
              </a>
            </div>
          {% endfor %}
        <div class="col-md-12 text-center">
          <nav aria-label="Page navigation" class="text-center">
            {% if articles_page.has_other_pages %}
              <ul class="pagination">
                {% if articles_page.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ articles_page.previous_page_number }}">&lt;</a></li>
                {% else %}
                  <li class="page-item disabled">&lt;</li>
                {% endif %}
                {% for i in articles_page.paginator.page_range %}
                  {% if articles_page.number == i %}
                    <li class="page-item  active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if articles_page.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ articles_page.next_page_number }}">&gt;</a></li>
                {% else %}
                  <li class="page-item disabled">&gt;</li>
                {% endif %}
            </ul>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
    {% endblock latest_post %}
    
    <!-- END main-content -->
    
    <div class="col-md-12 col-lg-4 sidebar">
      <!-- TENTANG PENULIS -->
      <div class="sidebar-box">
        <div class="bio text-center">
          <img src="{% static 'blog/images/foto.jpg' %}" alt="Image Placeholder" class="img-fluid">
          <div class="bio-body">
            <h2>Adwin Nugroho Siswoyo</h2>
            <p>Data science enthusiasts, the man who love football and you.</p>
            <p><a href="https://adwinugroho.github.io/" class="btn btn-primary btn-sm rounded">Read my resume</a></p>
            <p class="social">
              <a href="http://www.facebook.com/adwinugroho94/" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="http://www.twitter.com/adwinugroho/" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="http://www.instagram.com/adwinnsiswoyo" class="p-2"><span class="fa fa-instagram"></span></a>
              <a href="http://www.github.com/adwinugroho" class="p-2"><span class="fa fa-github"></span></a>
              <a href="http://www.linkedin.com/in/adwin-nugroho-siswoyo" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <!-- END TENTANG PENULIS -->
      <!-- END sidebar-box -->  
      <div class="sidebar-box">
        <h3 class="heading">Popular Post</h3>
        <div class="post-entry-sidebar">
          <ul>
              {% block list_recentpost %}
              {% for obj in articles %}
                <li>
                  <a href="{% url 'article:detail' slugInput=obj.slug %}">
                    {% if obj.thumbnail %}
                      <img src="{{obj.thumbnail.url}}" alt="Image placeholder" class="mr-4" style="width:100px;height:100px;">
                    {% else %}
                      <img src="{% static 'blog/images/no-image.jpeg' %}" alt="Image placeholder" style="width:100px;height:100px;">
                    {% endif %}
                    <div class="text">
                      <h4>{{obj.title}}</h4>
                    <div class="post-meta">
                      <span class="mr-2">{{obj.timestamp|date}}</span>  
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            {% endblock list_recentpost %}
          </ul>
        </div>
      </div>
      <!-- END sidebar-box -->

      <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        {% block list_categories_sidebar %}
        <ul class="categories">
            {% for cat in categories %}
              <li><a href="{% url 'article:category' categoryInput=cat %}">{{cat}}</a></li>  
            {% endfor %}
          </ul>
        {% endblock list_categories_sidebar %}        
      </div>
    </div>
  </div>
{% endblock contents %}
  